.trackContainer {
  display: flex;
  flex-direction: column;
}

.tracklist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.track {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.icon {
  font-size: 1.3rem;
  margin-right: 15px;
}

#responsive-navbar-nav {
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  .searchForm {
    margin: 10px 0;
    justify-content: center;
  }

  .submit-btn {
    margin: 10px 0;
    width: 100%;
  }
}
